@section CSS
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/about.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/about_responsive.css">
}


<!-- Home -->

<div class="home">
    <!-- <div class="background_image" style="background-image:url(images/about.jpg)"></div> -->
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@Url.Content("~/Content/images/about.jpg")" data-speed="0.8"></div>

    <!-- Header -->

    <header class="header" id="header">
        <div>
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo">
                                    <a href="#">health<span>+</span></a>
                                </div>
                                <div class="header_top_extra d-flex flex-row align-items-center justify-content-start ml-auto">
                                    <div class="header_top_nav">
                                        <ul class="d-flex flex-row align-items-center justify-content-start">
                                            <li><a href="#">Help Desk</a></li>
                                            <li><a href="#">Emergency Services</a></li>
                                            <li><a href="#">Appointment</a></li>
                                        </ul>
                                    </div>
                                    <div class="header_top_phone">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>+34 586 778 8892</span>
                                    </div>
                                </div>
                                <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_nav" id="header_nav_pin">
                <div class="header_nav_inner">
                    <div class="header_nav_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                                        <nav class="main_nav">
                                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                                <li class="menu_item">@Html.ActionLink("Home", "Index")</li>
                                                <li class="menu_item">@Html.ActionLink("About us", "About")</li>
                                                <li class="menu_item"><a href="#">Services</a></li>
                                                <li class="menu_item"><a href="news.html">News</a></li>
                                                <li class="menu_item">@Html.ActionLink("Contact", "Contact")</li>
                                            </ul>
                                        </nav>
                                        <div class="search_content d-flex flex-row align-items-center justify-content-end ml-auto">
                                            <form action="#" id="search_container_form" class="search_container_form">
                                                <input type="text" class="search_container_input" placeholder="Search" required="required">
                                                <button class="search_container_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">About us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">A few words about us</div>
                <div class="section_subtitle">too choose from</div>
            </div>
        </div>
        <div class="row about_row row-eq-height">
            <div class="col-lg-4">
                <div class="logo">
                    <a href="#">health<span>+</span></a>
                </div>
                <div class="about_text_highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem max imus mauris.</div>
                <div class="about_text">
                    <p>Aenean sit amet leo id enim dapibus eleifend. Phas ellus ut erat dapibus, tempor sapien non, porta.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_text_2">
                    <p>Donec lorem maximus malesuada lorem max imus mauris. Proin vitae tortor nec risus tristiq ue efficitur. Aliquam luctus est urna, id aliqu am orci tempus sed. Aenean sit amet leo id enim dapibus eleifend. Phasellus ut erat dapibus, tempor sapien non, porta urna. Cras quis ante nibh. Proin tincidunt gravida interdum. Proin sed urna mauris.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_image"><img src="~/Content/images/about_1.jpg" alt=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button about_button ml-auto mr-auto"><a href="#"><span>call now</span><span>call now</span></a></div>
            </div>
        </div>
    </div>
</div>

<!-- Milestones -->

<div class="milestones">
    <div class="container">
        <div class="row">

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone d-flex flex-row align-items-center justify-content-start">
                    <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/images/icon_7.svg" alt=""></div>
                    <div class="milestone_content">
                        <div class="milestone_counter" data-end-value="365">0</div>
                        <div class="milestone_text">Days a year</div>
                    </div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone d-flex flex-row align-items-center justify-content-start">
                    <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/images/icon_6.svg" alt=""></div>
                    <div class="milestone_content">
                        <div class="milestone_counter" data-end-value="25" data-sign-after="k">0</div>
                        <div class="milestone_text">Patients a year</div>
                    </div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone d-flex flex-row align-items-center justify-content-start">
                    <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/images/icon_8.svg" alt=""></div>
                    <div class="milestone_content">
                        <div class="milestone_counter" data-end-value="@Model.Count">0</div>
                        <div class="milestone_text">Amazing Pharmacies</div>
                    </div>

                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone d-flex flex-row align-items-center justify-content-start">
                    <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/images/icon_9.svg" alt=""></div>
                    <div class="milestone_content">
                        <div class="milestone_counter" data-end-value="12" data-sign-after="k">0</div>
                        <div class="milestone_text">Lab Results</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- CTA -->

<div class="cta">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@Url.Content("~/Content/images/cta_1.jpg")" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-xl-row flex-column align-items-xl-start align-items-center justify-content-xl-start justify-content-center">
                    <div class="cta_content text-xl-left text-center">
                        <div class="cta_title">Make an appointment with one of our professional Doctors.</div>
                        <div class="cta_subtitle">Morbi arcu neque, scelerisque eget ligula ac, congue tempor felis. Integer tempor, eros a egestas.</div>
                    </div>
                    <div class="button cta_button ml-xl-auto"><a href="#"><span>call now</span><span>call now</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Doctors -->

<div class="doctors">
    <div class="doctors_image"><img src="~/Content/images/doctors.jpg" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">Our Pharmacies</div>
                <div class="section_subtitle">to choose from</div>
            </div>
        </div>
        <div class="row doctors_row">

            <!-- Doctor -->
            @foreach (var pharmacie in Model)
            {
                

            <div class="col-xl-3 col-md-6">
                <div class="doctor">
                    <div class="doctor_image"><img src="~/Content/images/pharmacie.jpg" alt=""></div>
                    <div class="doctor_content">
                        <div class="doctor_name"><a href="#">
    @if (pharmacie.Nuit == false)
    {
        <img src="~/Content/images/moon.svg" alt="" style="width:17px">
    }
    else
    {
        <img src="~/Content/images/sun.svg" alt="" style="width:17px">
    }@pharmacie.Nom
</a></div>
                        <div class="doctor_title">@pharmacie.Mail</div>

                      

                        <div class="doctor_link">
                            <a href="@Url.Action("Map",
                            "Home",
                            new { lat = pharmacie.Latitude, lon = pharmacie.Longitude ,name=pharmacie.Nom})"><img src="~/Content/images/placeholder.svg" alt="" style="width:20px"></a>
                        </div>
                    </div>
                </div>
            </div>
            }
           
        </div>
       
    </div>
</div>



@section JS
{
    <script src="~/Scripts/js/about.js"></script>
}